{
  "db": {
    "driver" : "pgsql",
    "host" : "localhost",
    "dbname" : "{{ db_name }}",
    "login" : "{{ db_user }}",
    "pwd" : "{{ db_password }}"
  },
  "debug" : 1,
  "api_version" : "0.1",
  "env" : "dev"
}